@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


@font-face {
	font-family: Quicksand;
	src:url(quicksand-medium-webfont.woff);
}

@font-face {
	font-family: Muli;
	src:url(muli-regular-webfont.woff);
}

$lightgreen: #a7d231;
$darkgreen: #0c5933;
$pink: #b11169;
$blue: #027ac7;
$brown: #63380e;

button {
	cursor: pointer;
	padding: 10px;
	font-family: Quicksand, "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 1.5rem;
	border-radius: 25px;
	background: none;
	box-shadow: none;
}

body {
	background-color: #000;
	color: #fff;
	font-family: Muli, "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 20px;

	h1 {
		font-family: Quicksand, "Lucida Sans Unicode", Arial, sans-serif;
		color: $pink;
		font-size: 3rem;
	}

	h2, h3, h4, h5, h6 {
		font-family: Quicksand, "Lucida Sans Unicode", Arial, sans-serif;
		color: $blue;
	}

	img {
		max-width: 100%;
		max-height: 100%;
		margin: 20px;
	}

	header {
		text-align: center;
		padding: 20px;
	}

	main {
		background-color: #fff;
		color: #000;
		padding: 20px;
		display: flex;
		justify-content: center;

		.controll-center {
			padding: 20px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			.select-cat {
				list-style-type: none;
				padding-top: 50px;

				li {
					padding: 10px;
					font-family: Quicksand, "Lucida Sans Unicode", Arial, sans-serif;
					font-size: 1.5rem;
					text-align: left;
					color: $blue;
				}
			}

			.admin {
				color: $darkgreen;
				border: 1px solid $darkgreen;
				margin-top: 50px;
			}

			.admin:hover {
				color: #fff;
				background: $darkgreen;
			}
		}

		.display-cats {
			width: 50%;

			.cat-display {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				padding: 20px;

				p {
					padding: 20px;

					.cat-name {
						color: $blue;
						font-weight: bold;
					}

					.cat-count {
						color: $pink;
						font-weight: bold;
					}
				}
			}

			.cat-admin {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				padding: 20px;

				label {
					width: 30%;
					padding: 10px;
				}

				input {
					width: 65%;
					padding: 10px;
					margin: 10px 0;
					border: 2px solid $brown;
					border-radius: 10px;
				}

				input:focus {
					outline: none;
					border: 2px solid $lightgreen;
				}

				button {
					color: $darkgreen;
					border: 1px solid $darkgreen;
					margin: 20px 0 0 20px;
				}

				button:first-of-type {
					margin-left: auto;
				}

				button:hover {
					color: #fff;
					background: $darkgreen;
				}
			}
		}
	}
}
